.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: #d3cce3;
  background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);
  background: linear-gradient(to right, #e9e4f0, #d3cce3);
  list-style: none;
}
